.bgImg {
  background-image: url(./bg_img1.jpg);
  background-repeat: no-repeat;
  position: relative;
  width: 1366px;
  padding-left: 63.5px;
  padding-right: 63.5px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
}
.info-box-content {
  font-weight: bold;
  font-size: 40px;
}
.btnkids {
  border-radius: 0px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 14px;
  width: 200px;
  height: 50px;
}
.btnkid1 :hover {
  background-color: black;
  border-color: black;
}
