.top-class-heading h2 {
  text-align: left;
  margin-bottom: 25px;
  color: #d2973b;
}
.wpb_wrapper p {
  font-size: 17px;
  font-weight: 400;
  color: gray;
  margin-bottom: 30px;
}

.anchor {
  text-decoration: none;
  color: #6dbb0f;
  transition: all 0.25s ease;
}
.anchor:hover {
  text-decoration: none;
  color: black;
}
.myiframe {
  margin: 0px 20px;
}

@media screen and (max-width: 900px) {
  .myiframe {
    display: none;
  }
  .myTopDiv {
    display: flex;
    flex-wrap: wrap;
  }
}
