.container-fluid {
  /* background-image: url("../../../public/images/mos.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
}

.text-div {
  background: rgba(58, 85, 240, 0.7);
}

.video-button {
  background-color: rgb(211 211 38);
  width: 80px;
  border-radius: 50%;
  height: 80px;
}
.play {
  font-size: 2.7rem;
  color: white;
}
