.courseimg {
  border-color: black;
  height: 85px;
  width: 85px;
}
.jss30 {
  border-radius: 5px;
  border: 3px solid grey;
}

.jss30:hover {
  border-color: brown;
}
.jss34 {
  height: 250px;
  width: 400px;
  z-index: 1;
}
.jss31 {
  height: 225px;
  width: 500px;
  margin-left: -15px;
  background-color: white;
  position: relative;
}
.jss32 {
  background-color: #6dbb0f;
  width: 400px;
  margin-left: 20px;
  margin-top: -12px;
}
.jss33 {
  margin-top: -15px;
}
.jss34:hover {
  opacity: 0.4;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  height: 60px;
  width: 50px;
  background-color: white;
  z-index: 2;
}
.jss35 {
  position: relative;
}
.jss36 {
  background: white;
}
