.navbar-top {
  /* background-color: rgb(69, 124, 241); */
  background: #24A9DE;
}
button:focus {
  outline: none;
  border-color: orange;
}

button.btn-first:focus,
button.btn-first:active,
button.btn-first:hover {
  outline: 0;
  border-color: orange;
  box-shadow: none;
  background-color: #ccc;
}
button.btn-first {
  border-radius: 0px;
  outline: 0;
  border: 2px solid orange;
  border-color: orange;
  box-shadow: none;
}
button.btn-second {
  border-radius: 0px;
  background-color: orange;
  outline: none;
  border: 2px solid orange;
}
button.btn-second:hover,
button.btn-second:active,
button.btn-second:focus {
  border: 2px solid orange;
  background-color: rgb(218, 144, 7);
  outline: none;
}
