.global--icon {
  background: url(https://s3-cdnwhjr.whjr.online/website/desktop/spritesheet/Spritesheet.svg)
    no-repeat;
  background-size: 2144px 1208px;
}
.start-qoute {
  width: 25px;
  height: 22px;
  position: absolute;
  background-position: -729px -283px;
  top: 0;
}
.end-qoute {
  background-position: -679px -283px;
  left: 92%;
  bottom: 0;
  width: 25px;
  height: 22px;
  position: absolute;
}
.heading {
  position: relative;
  padding: 32px 16px;
  border-left: 3px solid #fe8d1b;
  text-align: left;
}
.para {
  justify-content: space-evenly;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.1rem;
  height: 100px;
  font-weight: lighter;
  color: grey;
  font-style: normal;
}
.btn0 {
  margin-top: 50px;
  background-color: #fe8d1b;
  border-radius: 0%;
  box-shadow: none;
  border: none;
}
