.teacherSectionTopWrapper{
    border-top: 5px solid rgb(57, 113, 138);
    border-bottom: 3px solid rgb(57, 113, 138);
    padding-top: 50px;
}
.teacherSection-firstP{
    background: #40798c;
    width: fit-content;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    padding: 10px 100px;
    border-radius: 35px;
    color: white;
    font-style: oblique;
}

.teacherSection-secondP{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    margin: 12px auto 0;
    color: #50cf95;
    border-bottom: 1px solid;
}

.teacherSection-cardTitle{
    font-size: 20px;
    font-weight: 600;
    color: #e643a7;
    margin: 5px 0;
}

.teacherSection-cardImg{
    width: 12%;
}

.teacherSection-cardText{
    font-size: 12px;
    color: gray;
    padding: 0 100px;
}

.teacherSection-listWrapper{
    display: flex;
    margin-left: 70px;
}  
.teacherSection-listP{
    font-size: 20px;
    color: gray;
} 

.teacherSection-lastImg{
    width: 70%;
}