/* curriculum__tabs-content .plan_cont  */

.plan:hover {
  transform: scale(1.07);
}
.plan {
  max-width: 21rem;
  min-width: 21rem;
  min-height: 747px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 17px 39px rgb(0 0 0 / 5%);
  transition: transform 0.3s ease;
  transform: scale(1);
}
.plan .heading {
  height: 124px;
  background: #fff4e8;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.25rem;
}
.plan .heading .details {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.plan .plan_desc {
  height: 208px;
  padding: 20px;
  border-bottom: 1px solid #e5eaf4;
}
.plan .plan_desc h6 {
  margin-bottom: 10px;
}
.plan .plan_desc .content,
.font18 {
  font-size: 1.125rem;
}
.color-primary {
  color: #fe8d1b;
}
.plan .price_desc {
  padding: 20px;
  position: relative;
}
.plan_tag.popular {
  background: #2ab7ca;
}
.plan_tag.best-value {
  background: #ff8d1a;
}
.price_desc .price {
  display: flex;
  align-items: baseline;
}
.color-1565D8 {
  color: #1565d8;
}
.plan .price_desc .submit-btn {
  margin-top: 10px;
  margin-bottom: 24px;
  padding: 10px 44px;
  width: 100%;
  color: #fff;
  border: 1px solid #fe8d1b;
  background-color: #fe8d1b;
  border-radius: 0;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
}
.btn-primary {
  border: 1px solid #fe8d1b;
  background: #fe8d1b;
}
.text-bold {
  font-family: "FuturaPTBold", sans-serif;
}
.content_center {
  display: flex;
  align-items: center;
}
.curriculum__bg__achievement-star {
  width: 20px;
  height: 20px;
  background-position: -137px -174px;
  margin-right: 10px;
}
h5,
h6 {
  line-height: 1.5rem;
}
h6 {
  font-size: 1.125rem;
}
.global-icon {
  background: url(https://s3-cdnwhjr.whjr.online/website/desktop/spritesheet/Spritesheet.svg)
    no-repeat;
  background-size: 2144px 1208px;
}
.plan .price_desc .achievements {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.plan .price_desc .achievements .box {
  padding: 16px 0;
  width: 50%;
}
.curriculum__bg-circle {
  width: 75px;
  height: 75px;
  background: #ebf8fa;
  border-radius: 50%;
  margin: auto;
}
.plan .price_desc .achievements .box .curriculum__bg {
  margin-left: auto;
  margin-right: auto;
}
.curriculum__bg__achievement-coding {
  width: 80px;
  height: 80px;
  background-position: -669px -365px;
}
.plan .price_desc .achievements .box .detail,
.curriculum__tabs-content .plan_cont .plan .price_desc .plan_tag,
.font14 {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
a,
a:active,
a:focus,
a:hover {
  color: #fe8d1b;
  text-decoration: none;
}
