.paragraph {
  text-align: justify;
  color: #777;

  margin-bottom: 20px;
  font-size: 14px;
}
.online-quran-heading h3 {
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}
.learn-reading h3 {
  margin-top: 15px;
  font-size: 24px;
  color: #167205;
  text-align: left;
  margin-bottom: 10px;
}
.paragraph a {
  text-decoration: none;
  color: #6dbb0f;
}
.paragraph a:hover {
  color: black;
}
.content-list ul {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
}
.content-list ul li {
  padding-bottom: 10px;
  color: #777;
}
.background {
  background-color: #f1f1f1;
}
