*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.rounded {
    width: 137px;
    height: 41px;
}
.navbar-brand{
    font-size: 2rem;
    color:black;
}
.navbar-brand:hover{
    color:rgb(231, 120, 40);
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color:black;
    text-transform: uppercase;
}
.nav-link:hover{
    color:rgb(231, 120, 40);
}
.footer{
    background-color: rgb(182, 154, 219);
    color: white;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}