.jss10::after {
  display: inline-block;
  content: "";
  border-top: 1px solid rgb(175, 172, 172);
  width: 300px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.jss11 {
  border-left: 1px solid rgb(175, 172, 172);
  margin-bottom: 5px;
  margin-top: 30px;
}
.jss12 {
  background: #6dbb0f;
  padding-inline: 25px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
