.carousel {
  height: 600px;
  box-sizing: border-box;
}

.caption {
  top: 10%;
  bottom: auto;
}

.carousel-text {
  text-shadow: large;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: justify;
  color: #375656;
}

.image {
  max-height: 600px;
  opacity: 0.6;
}
.image2 {
  max-height: 600px;
  opacity: 0.6;
}
.image3 {
  opacity: 0.4;
  max-height: 600px;
}
.caption .heading {
  font-size: 3rem;
  font-weight: 900;
}

.caption .heading {
  font-family: cursive;
  font-size: 3rem;
  font-weight: 900;
  color: #0e854c;
  text-shadow: 2px 5px #bce0cd;
}
.caption .heading2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #512b06;
  text-shadow: 2px 5px #0e753e;
}
.heading3 {
  color: #320b6a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
.heading4 {
  font-size: 3.2rem;
  color: #000;
  text-align: end;
}
.heading3 h3 {
  color: rgb(142, 45, 45);
  text-align: justify;
}
.carousel-text2 {
  color: #12530c;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: justify;
}
.carousel-text3 {
  color: #ffec03;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: justify;
}
.button {
  border-radius: 15px;
}
.btn {
  backgroundcolor: #206262;
}

/* background-color: #8bc6ec;
  background-image: linear-gradient(
    135deg,
    #8bc6ec 29%,
    #ffffff 57%,
    #9599e2 82%
  ); */

@media screen and (max-width: 480px) {
  .carousel {
    height: 300px;
    box-sizing: border-box;
  }
  .image {
    height: 300px;
    opacity: 1;
  }
  .image2 {
    height: 300px;
    opacity: 1;
  }
  .image3 {
    opacity: 1;
    max-height: 300px;
  }
}
