h2 h4 {
    font-family: FuturaPTBold,sans-serif;
}

.section-heading{
    text-align: center;
}

.section-img{
    /* position: relative; */
    /* width: 100%; */
}

.section-content{
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
}

.section-content p {
    line-height: 32px;
    margin-bottom: 20px;
}

img{
    padding-right: 10px;
    max-width: 95%;
    min-width: 472px;
    /* vertical-align: middle; */
    /* display: block;
    margin: auto; */
}

.font18{
    font-size: 1rem;
    color: #5A7184;
}

.stars-content-wrapper{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.stars-wrapper{
    margin-right: 20px;
    display: flex;
}

.stars-wrapper .star{
    background-position: -135px -174px;
        width: 20px;
        height: 18px;
}

.stars-wrapper span {
    display: inline-block;
}

.global-icon {
    background: url(https://s3-cdnwhjr.whjr.online/website/desktop/spritesheet/Spritesheet.svg) no-repeat;
    background-size: 2144px 1208px;
}
.font16 {
    font-size: 1rem;
    line-height: 1.125rem;
}

.text-bold {
    font-family: FuturaPTBold,sans-serif;
    font-weight: bold;
}

.btn0 {
    background-color: #fe8d1b;
    border-radius: 0%;
    box-shadow: none;
    border: none;
  }
  .button-group {
    display: inline-flex;
}
.view_live_comment button {
    padding: 0 5px;
    min-width: 250px;
}
.view_live_comment{
    margin-right: 15px;
    text-decoration: none;
}

a {
    color: #fe8d1b;
    text-decoration: none;
}

.view_superstar_btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 0 35px;
    font-family: FuturaPTBold,sans-serif;
    display: flex;
    align-items: center;
    color: #3f13a9;
    border: 1px solid #3f13a9;
    text-align: center;
    display: inline-flex;
    background: #fff;
    font-weight: 600;
}

.login_btn {
    height: 50px;
    font-size: 18px;
    padding: 0 35px;
    border-radius: 0%;
    margin-right: 10px;
    font-family: FuturaPTBold,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}