* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.rounded {
  width: 137px;
  height: 41px;
}
.navbar-brand {
  font-size: 2rem;
  color: black;
}
.navbar-brand:hover {
  color: rgb(236, 103, 8);
}
.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-transform: uppercase;
}
.nav-link:hover {
  color: rgb(236, 103, 8);
}

.footer {
  background-color: rgb(32, 10, 59);
  color: white;
}
.fab {
  font-size: 2.5rem;
  cursor: pointer;
  padding-right: 5px;
  color: rgb(236, 245, 238);
  text-shadow: 5px 5px 12px rgb(5, 5, 5);
}
