.jss20 {
  border-left: 2px solid rgb(86, 139, 5);
}

.jss21 {
  border-left: 1px solid rgb(194, 193, 193);
}
.avatar {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 100px;
  height: 100px;
}
.jss22 {
  border: none;
  border-radius: 5px;
  background-color: #6dbb0f;
  color: #ffffff;
  padding: 12px 15px 10px 15px;
}
.jss23 {
  color: #993366;
}
