.paragraph {
  text-align: justify;
  color: #777;
  margin-bottom: 20px;
  font-size: 14px;
}
.online-quran-heading h3 {
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}
.learn-reading h3 {
  margin-top: 15px;
  font-size: 24px;
  color: #167205;
  text-align: left;
  margin-bottom: 10px;
}
.paragraph a {
  text-decoration: none;
  color: #6dbb0f;
}
.paragraph a:hover {
  color: black;
}
.content-list ul li {
  position: relative;
  padding-bottom: 10px;
  color: #777;
}
.content-list ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
}
#arrow {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  margin-top: 40px;
}
