@media only screen and (max-width: 768px) {
  .container {
    margin-top: 66px;
  }
}

/* .height {
  height: 50vh;
} */

.card {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.card:hover {
  background-color: #eee;
}

.testimonial-list {
  list-style: none;
}

.testimonial-list li {
  margin-bottom: 20px;
}
