.primary-text1 {
  color: #d2973b;
}
.primary-text2 {
  color: #dd9933;
}
.primary-text3 {
  color: #de901b;
}
.free-trial-heading a {
  font-weight: 650;
  color: #6dbb0f;
  transition: 0.5s;
}
.select-monthly {
  font-weight: 650;
  transition: 0.5s;
  font-size: 24px;
}
.free-trial-heading a:hover {
  color: #7bcc60;
}
.discounts,
.customize-plan {
  background-color: #dd911f;
  border-radius: 5px;
}

.discount-text,
.cutomize-text {
  border-bottom: 2px solid #fff;
  display: inline-block;
  font-weight: 700;
}

.list ul {
  padding: 0px;
  list-style: none;
  font-size: 16px;
}
.list ul li {
  font-size: 16px;
  margin-bottom: 5px;
}
.key-features h3,
.payment-heading h3 {
  font-weight: 650;
  transition: 0.5s;
  font-size: 22px;
}
.key-feature-1,
.key-feature-2 {
  background-color: #b97ebb;
  border-radius: 5px;
  width: 45%;
  color: #fff;
}
.key-feature-1 ul,
.key-feature-2 ul {
  list-style-type: none;
}
.key-feature-1 ul li p,
.key-feature-2 ul li p {
  font-size: 16px;
}
.payment h3 {
  font-weight: 650;
  transition: 0.5s;
  font-size: 22px;
  /* font-weight: 400; */
  color: #032456;
}
